Flask==0.12.2
Flask-cors
Flask-Elasticsearch
Flask_elasticsearch
pymongo
elasticsearch==5.5.3
gunicorn
defusedxml
python-dateutil
slackclient==1.0.9
geoip2
filemagic
botocore
python-memcached
Werkzeug=0.12.2